html, body
{
    height: 100%;
    scroll-behavior: smooth;
}
body
{
    background-color: antiquewhite;
    margin: 0;
    min-width: 100%;
    display: grid;
    grid-template-rows: 5.2em auto 6em;
    grid-template-columns: 100%;
}
header
{
    display: grid;
    width: auto;
    grid-template-columns: 15% 46% 10% 16% 10% 3%;
    height: auto;
    background-color: rgb(241, 218, 183);
}
#logo
{
    font-family: 'Italianno', cursive;
    font-size: 3.5em;
    font-weight: 700;
    padding-left: 1em;
}
#sticky
{
    position: fixed;
    width: 19%;
}

nav
{
    height: auto;
    padding: 0.3rem;
    background-color: rgb(241, 218, 183);
    float: left;
}
nav ul
{
    padding-left: 0.5rem;
    width: 100%;
}
nav li
{
    padding: 1.3em;
    font-size: 1.15em;
    font-weight: 500;
    list-style-type: none;

}
nav h2
{
    margin-top: 0.4em;
    font-size: 2.25em;
    padding-left: 0.6em;
}
nav li:hover
{
    background-color: rgb(241, 208, 157);
    padding-left: 1.5em;
    font-weight: 600;
}
nav ul a
{
    text-decoration: none;
    color: black;
}
footer
{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgb(241, 218, 183);
    margin: 0;
    width: 100%;
    height: auto;
    grid-row-start: 3;
    grid-row-end: 4;
}
#copyright
{
    margin-top: 0.9em;
    font-style: italic;
    font-size: 1.3em;
}
#copyright span
{
    text-align: justify;
}
.ad
{
    padding:0.7em;
    padding-top: 1.2em;
    text-align: center;
    font-size: 1.22em;
}
header a:hover
{
    background-color: rgb(241, 208, 157);
    font-weight: 600;
    padding-top: 0.1em;
}
header a
{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
table
{
    margin: 3em auto;
    border:2px solid black;
    padding: 0.75em;
    border-collapse: collapse;
}
td, th
{
    border:1px solid black;
    padding: 0.75em;
}
th
{
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 2px solid black;
}
td
{
    text-align: center;
    max-width: 14em;
    height: 2.5em;
}

article
{
    padding:1.75em;
    margin:0;
    padding-right: 0;
    font-family: 'Lato', sans-serif;
}
p
{
    font-size: 1.3em;
    max-width: 100%;
}
#container
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
}
#container img
{
    float: left;
    margin: 1em;
    height: 17.5em;
}
.text
{
    min-height: 17.5em;
}
#add
{
    padding: 0.5em;
    width: 7.5em;
    height: 2.75em;
    background-color: rgb(238, 193, 141);
    opacity: 0.9;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: 700;
}
#naGozik
{
    height: 4em;
    display: grid;
    grid-template-columns: 80% 20%;
}

.header
{
    display: none;
}
form
{
    padding: 1.2em;
}
label
{
    margin-left: 2em;
}
input
{
    margin: 1em;
    padding: 0.3em;
}
#formContainer
{
    display: grid;
    grid-template-columns: auto 48em auto;
}
input:last-child
{
    margin-left: 80%;
    padding: 0.5em;
    width: 7.5em;
    height: 2.75em;
    background-color: rgb(238, 193, 141);
    opacity: 0.9;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: 700;
}
#scroll
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
#sessStor
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: rgb(238, 193, 141); color: black; }

@media screen and (max-width:80em) {
    article
    {
        width: 90%;
    }
    #container
    {
        display: block;
    }
    nav
    {
        display: none;
    }
    
}
@media screen and (max-width:50em){
    header
    {
        grid-template-columns: 25% 25% 15% 15% 15% 5%;
    }
    footer
    {
        grid-template-columns: 50% 50%;
    }
    
}
@media screen and (max-width:40em) {
    img
    {
        display: none;
    }
    p
    {
        max-width: 80%;
    }
    #copyright
    {
        display: none;
    }
}
@media screen and (max-width:25em){
    #logo
    {
        display: none;
    }  
    
}